@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap");
:root {
  --primary-color: rgb(18, 104, 121);
  --primary-color-darker: rgb(27, 56, 62);
  --primary-color-light: rgb(73, 66, 94);
}

* {
  box-sizing: border-box;
  outline: 0;
}

body {
  margin: 0;
  padding: 0;
  background: var(--primary-color);
  font-family: "Open sans", sans-serif;
  font-size: 1.3rem;
  line-height: 1.5rem;
}

.container {
  max-width: 650px;
  margin: 50px auto;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
}

div.informacoes {
  display: grid;
  grid-template-columns: auto auto;
}

div.informacoes h2 {
  margin-bottom: 0;
  font-size: 1.5rem;
}

div.informacoes p {
  line-height: 1.8em;
  margin: 5px 0px;
}

/* div.informacoes > div.imc {
  display: flex;
  flex-flow: column;

  width: 50%;
}

div.informacoes > div.resultado {
  display: flex;
  flex-flow: column;

  width: 50%;
} */

.container h1 {
  font-size: 2.5rem;
  /* clamp(2rem, 2rem + 2vw, 4rem) */
}

.container h3 {
  margin: 20px 0px;
  font-size: 2rem;
}

.container p {
  font-size: clamp(1rem, 0.95rem + 0.25vw, 1.25rem);
}

form {
  margin: 20px 0px;
}

form input,
form label,
form button {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

form input {
  font-size: 24px;
  height: 50px;
  padding: 0 20px;
}

form input::placeholder {
  color: rgba(128, 128, 128, 0.548);
}

form input:focus {
  outline: 1px solid var(--primary-color);
}

form select {
  display: block;
  width: 100%;
  height: 40px;
  font-size: 1.2rem;
}

form button {
  border: none;
  background: var(--primary-color-darker);
  color: #fff;
  font-size: 20px;
  font-weight: bolder;
  height: 50px;
  cursor: pointer;
  margin-top: 30px;
}

form button:hover {
  background: var(--primary-color);
}

form button:active {
  background-color: var(--primary-color-light);
}

#resposta {
  display: none;
  width: 100%;
  height: 45px;
  background-color: rgb(1, 255, 175);
  color: rgb(0, 0, 0);
  padding: 10px 5px;
}
